#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(233, 233, 232);
    box-shadow: 0 5px 15px rgb(232, 232, 232);
}

#navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;


}

#navbar li {
    padding: 20px;
    list-style: none;
}

#navbar a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#navbar a:hover {
    color: #005bdb;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/******** Single Product Page ********/

.product-hero {
    display: flex;
    flex-direction: row;
}

.hero-img {
    width: 80%;
    border: 2px solid;
    width: 92%;
    border-radius: 10px;
    cursor: zoom-in;
}

.pimgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pimg {
    width: 30%;
    border: 2px solid;
    cursor: zoom-in;
    border-radius: 10px;
}

.left-product {
    justify-content: center;
    margin-left: 150px;
    padding: 20px 20px 20px 20px;
    width: 50%;
}

.right-product {
    width: 50%;
    float: right;
}

input[type="number"] {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    /* Hide the appearance of the spin buttons */
    -webkit-appearance: none;
    margin: 0;
}

.pname {
    font-size: 35px;
    font-weight: 800;
}

.price {
    color: red;
    font-size: 25px;
}

.similar-products i {
    font-size: 40px;
    margin-top: 130px;
}

.minquan,
.plusquan {
    border: none;
    background-color: #ddd;
    cursor: pointer;
    padding: 5px 10px;
}

.cart-button {
    border: none;
    margin-left: 50px;
    background-color: #3dd0f5;
    color: black;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.buy-button {
    border: none;
    margin-left: 50px;
    background-color: #f25b36;
    color: black;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.cart-button:hover,
.buy-button:hover {
    box-shadow: 10px 10px 8px #888888;
}

.product-descrip {
    background-color: #dedede;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
}

.similar-products {
    display: flex;
    justify-content: center;

}

.similar {
    background-color: #bababa;
    width: 90%;
    padding: 10px 30px 30px 30px;
    border-radius: 20px;
}

.simImg {
    width: 30%;
    height: 30%;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}


/* Footer styles */
.footer {
    background-color: rgb(233, 233, 232);
    color: #000000;
    padding: 40px 250px;
    display: flex;
    justify-content: center;
}


.logo-section img {
    width: 150px;
    padding-right: 100px;
}

.footer-links {
    flex: 1;
}

.footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links a:hover {
    color: #005bdb;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #000000;
    text-decoration: none;
}

.footer-col {
    flex: 1;
    padding: 0 20px;
}

.contact-section {
    text-align: left;
}

.contact-button {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #86a2ca;
    /* Change background color on hover */
}